.modal {
  width: 100%;
  padding-top: 12px;
  overflow: auto;

  .header {
    @include media-breakpoint-up (sm) {
      margin-bottom: $spacing-vertical-sm-1;
    }

    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .body {
    width: 100%;
  }
}
